.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  .pagination_button,
  .pagination_chevron {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: bold;
  }
  .pagination_button {
    &:hover,
    &.active {
      background-color: var(--acnt-hover-color);
      color: #fff;
    }
  }
  .pagination_chevron {
    &:hover {
      &:not(:disabled) {
        background-color: var(--acnt-hover-color);
        color: #fff;
      }
    }
  }
}
