$brand-color-1: rgb(185, 24, 39);
$brand-color-2: rgb(155, 24, 39);
$brand-color-3: rgb(46, 46, 46);
$brand-color-4: rgb(3, 140, 210);

.theme {
  --bg-main: #fff;
  --bg-acnt: #f6f8fc;
  --text-main-color: #{$brand-color-3};
  --text-acnt-color: #6b7280;
  --input-border-color: #f1f1f1;
  --acnt-color: #{$brand-color-2};
  --acnt-hover-color: #{$brand-color-1};
  --link-color: #{$brand-color-4};
  --error-color: $brand-color-2;
}

a {
  color: var(--link-color);
}
