.table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #e0e0e0;
  width: 100%;
  flex: 1;
  overflow: scroll;
  thead {
    tr {
      th {
        background-color: #f5f5f5;
        color: var(--text-acnt-color);
        font-weight: 500;
        font-size: 14px;
        padding: 12px 20px;
        text-align: left;
        font-style: italic;
      }
    }
  }
  tbody {
    tr {
      &:nth-child(even) {
        background-color: #f5f5f5;
      }
      td {
        min-width: 150px;
        text-overflow: none;
        padding: 12px 20px;
        font-size: 16px;
        color: var(--text-main-color);
        border-bottom: 1px solid #e0e0e0;
        span {
          color: var(--text-acnt-color);
          font-weight: 500;
          font-size: 14px;
        }
      }
    }
  }
}
