.dialog_container {
  position: absolute;
  z-index: 999;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadein 0.1s ease-out;
  .dialog {
    margin: 0 10px;
    border-radius: 10px;
    min-width: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-main);
    padding: 15px;
    animation: scale_in 0.3s ease-out;
    .title {
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      svg {
        font-size: 24px;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.6);
        &:hover {
          color: var(--acnt-color);
        }
      }
    }
    .buttons {
      margin-top: 10px;
    }
    .error {
      display: none;
      text-align: center;
      p {
        color: var(--acnt-hover-color);
      }
    }
    .inputs {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
  &.errored {
    .dialog {
      animation: shake 0.3s linear;
      .title {
        display: none;
      }
      .inputs {
        display: none;
      }
      .error {
        display: block;
        p {
          font-size: 18px;
        }
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale_in {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-10px, 0);
  }
  20% {
    transform: translate(10px, 0);
  }
  30% {
    transform: translate(-10px, 0);
  }
  40% {
    transform: translate(10px, 0);
  }
  50% {
    transform: translate(-10px, 0);
  }
  60% {
    transform: translate(10px, 0);
  }
  70% {
    transform: translate(-10px, 0);
  }
  80% {
    transform: translate(10px, 0);
  }
  90% {
    transform: translate(-10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
