@import "../../../styles/variables.scss";
$box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

.tree-select-container {
  font-family: inherit !important;
  display: flex;
  min-width: 100%;
  a,
  .dropdown,
  .dropdown-trigger,
  .search {
    display: flex !important;
    min-width: 100%;
  }
  .dropdown {
    .dropdown-trigger {
      text-decoration: none;
      color: inherit;
      border-radius: 10px;
      background-color: var(--bg-acnt);
      border: none !important;
      .search {
        width: 100%;
        font-size: 16px;
        background-color: transparent;
        border-bottom: 2px solid var(--acnt-hover-color) !important;
        margin-bottom: 5px;
        padding: 5px;
      }
      .tag-list {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        .tag-item {
          display: flex;
          margin: 2px;
          .tag {
            // reverse children without flex
            display: grid;
            grid-template-columns: 90% auto;
            width: 100%;
            word-wrap: break-word;
            background-color: var(--bg-main);
            border-radius: 5px;
            padding-left: 5px;
            .tag-remove {
              margin-left: auto;
              width: 20px;
              height: 20px;
              text-transform: uppercase;
              color: var(--acnt-color);
              background-color: var(--bg-main);
            }
          }
        }
      }
    }
    i {
      display: inline-block;
      width: 5px;
      font-style: normal !important;
      margin-left: 5px;
      margin-right: 4px !important;
    }
    a::after {
      display: none;
    }
    .dropdown-content {
      max-width: 100%;
      overflow-y: scroll;
      border-radius: 10px;
      box-shadow: $box-shadow !important;
      margin-top: 40px;
      .node {
        border-radius: 8px;
      }
      .tree {
        .checkbox-item {
          margin-left: 1px;
        }
      }
    }
  }
}

@media screen and (min-width: $mobile-width) {
  .tree-select-container {
    .dropdown {
      .dropdown-content {
        max-width: calc(100vw - 60px);
      }
    }
  }
}
