@import "../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--bg-acnt);
  gap: 10px;
  .nav_container {
    margin-top: 10px;
    max-width: $max-width;
    height: 65px;
    width: calc(100% - 20px);
    border-radius: 10px;
    background-color: var(--bg-main);
    display: flex;
    align-items: center;
    .skeleton_icon {
      margin-left: 20px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
    .skeleton_text {
      margin-left: 15px;
      height: 20px;
      width: 100px;
      border-radius: 10px;
      &:last-of-type {
        margin-left: auto;
        margin-right: 20px;
      }
    }
  }
}

.filters {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 10px;
  .skeleton_card {
    height: 100px;
  }
}

.main_container {
  max-width: $max-width;
  flex: 1;
  padding: 20px;
  background-color: var(--bg-main);
  border-radius: 10px;
  width: calc(100% - 20px);
  height: 100%;
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    .skeleton_card {
      display: flex;
      height: 130px;
      border-radius: 10px;
      background-color: var(--bg-acnt);
    }
  }
}

// animation

.skeleton_icon {
  background: linear-gradient(90deg, #ececec 8%, #fefefe 18%, #ececec 33%);
  border-radius: 50%;
  background-size: 200% 100%;
  animation: 1.3s skeleton linear infinite;
}

.skeleton_text {
  background: linear-gradient(90deg, #ececec 8%, #fefefe 18%, #ececec 33%);
  border-radius: 10px;
  background-size: 200% 100%;
  animation: 1.3s skeleton linear infinite;
}

.skeleton_card {
  background: linear-gradient(90deg, #ececec 8%, #fefefe 18%, #ececec 33%);
  border-radius: 10px;
  background-size: 200% 100%;
  animation: 1.3s skeleton linear infinite;
}

@keyframes skeleton {
  to {
    background-position-x: -200%;
  }
}
