@import "../../../styles/variables.scss";

.navbar {
  width: 100%;
  display: flex;
  z-index: 10;
  padding: 10px 20px;
  height: $top-nav-height;
  // background-color: var(--bg-main);
  border-radius: 10;
  align-items: center;
  .logo {
    display: flex;
    height: 100%;
    img {
      height: 100%;
      width: auto;
    }
  }
  .title {
    margin: 0 20px;
    overflow: hidden;
    user-select: none;
    h1 {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      margin-top: 4px;
      height: 3px;
      background-color: var(--acnt-hover-color);
      border-radius: 8px;
    }
  }
  .links {
    display: flex;
    list-style: none;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    li {
      margin: 0 5px;
      a {
        color: var(--text-color);
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 500;
        transition: all 0.2s ease-in-out;
        font-weight: bold;
        &:hover {
          color: var(--acnt-hover-color);
        }
      }
      &.active {
        // make a line under the active link with absolute positioning
        a {
          position: relative;
        }
        a::after {
          content: "";
          position: absolute;
          display: block;
          width: 100%;
          bottom: -5px;
          height: 3px;
          background-color: var(--acnt-hover-color);
          border-radius: 8px;
        }
      }
    }
  }
  .profile {
    position: relative;
    margin-left: auto;
    padding-left: 5px;
    display: flex;
    gap: 6px;
    align-items: center;
    user-select: none;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    white-space: nowrap;
    svg,
    span {
      transition: color 0.2s ease-out;
      color: var(--text-acnt-color);
    }
    &:hover,
    &.expanded {
      svg,
      span {
        color: var(--text-main-color);
      }
    }
    .chevron {
      transition: transform 0.2s ease-out;
    }
    &.expanded {
      .chevron {
        transform: rotate(180deg);
      }
    }
    .expander_popup {
      cursor: default;
      display: none;
      position: absolute;
      right: 0;
      padding: 5px;
      min-width: 100%;
      top: calc(100% + 10px);
      background-color: var(--bg-main);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      list-style: none;
      .popup_button {
        background-color: transparent;
        border: none;
        border-radius: 5px;
        width: 100%;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        transition: background-color 0.2s ease-out;
        font-size: 0.9rem;
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
    &.expanded {
      .expander_popup {
        display: block;
      }
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .navbar {
    margin-top: 0;
    border-radius: 0;
    padding: 10px;
  }
}
